<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2013 Phsys and/or its affiliates. All rights reserved.
  ~  Phsys PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:utils="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">

    <utils:map id="commands" map-class="java.util.Hashtable" key-type="java.lang.String"
               value-type="ir.pooyahfp.matrix.commands.AbstractCommand">

        <entry key="set">
            <bean class="ir.pooyahfp.matrix.commands.SetCommand"/>
        </entry>

        <entry key="save">
            <bean class="ir.pooyahfp.matrix.commands.SaveCommand"/>
        </entry>

        <entry key="load">
            <bean class="ir.pooyahfp.matrix.commands.LoadCommand"/>
        </entry>

        <entry key="show">
            <bean class="ir.pooyahfp.matrix.commands.ShowCommand"/>
        </entry>

        <entry key="copy">
            <bean class="ir.pooyahfp.matrix.commands.CopyCommand"/>
        </entry>

        <entry key="swap">
            <bean class="ir.pooyahfp.matrix.commands.SwapCommand"/>
        </entry>

        <entry key="add">
            <bean class="ir.pooyahfp.matrix.commands.AddCommand"/>
        </entry>

        <entry key="sub">
            <bean class="ir.pooyahfp.matrix.commands.SubCommand"/>
        </entry>

        <entry key="mul">
            <bean class="ir.pooyahfp.matrix.commands.MulCommand"/>
        </entry>

        <entry key="power">
            <bean class="ir.pooyahfp.matrix.commands.PowerCommand"/>
        </entry>

        <entry key="inv">
            <bean class="ir.pooyahfp.matrix.commands.InvertCommand"/>
        </entry>

        <entry key="solve">
            <bean class="ir.pooyahfp.matrix.commands.SolveEquationCommand"/>
        </entry>

        <entry key="trn">
            <bean class="ir.pooyahfp.matrix.commands.TransposeCommand"/>
        </entry>

        <entry key="lu">
            <bean class="ir.pooyahfp.matrix.commands.LuCommand"/>
        </entry>

        <entry key="help">
            <bean class="ir.pooyahfp.matrix.commands.HelpCommand"/>
        </entry>

        <entry key="usage">
            <bean class="ir.pooyahfp.matrix.commands.UsageCommand"/>
        </entry>

        <entry key="matrix">
            <bean class="ir.pooyahfp.matrix.commands.CreateCommand"/>
        </entry>

        <entry key="det">
            <bean class="ir.pooyahfp.matrix.commands.DeterminantCommand"/>
        </entry>

        <entry key="echelon">
            <bean class="ir.pooyahfp.matrix.commands.EchelonCommand"/>
        </entry>

        <entry key="rank">
            <bean class="ir.pooyahfp.matrix.commands.RankCommand"/>
        </entry>

        <entry key="trace">
            <bean class="ir.pooyahfp.matrix.commands.TraceCommand"/>
        </entry>

    </utils:map>

    <bean name="main" class="ir.pooyahfp.matrix.Program">

        <property name="writer" ref="writer"/>
        <property name="commandMap" ref="commands"/>

    </bean>

    <bean name="writer" class="java.io.PrintWriter">

        <constructor-arg index="0" type="java.io.OutputStream">
            <util:constant static-field="java.lang.System.out"/>
        </constructor-arg>

        <constructor-arg index="1" type="boolean" value="true"/>

    </bean>

</beans>